.navbar.navbar-fixed-top
  .navbar-inner
    .container
      %a.btn.btn-navbar{"data-target" => ".nav-collapse", "data-toggle" => "collapse"}
        %span.icon-bar
        %span.icon-bar
        %span.icon-bar
      %a.brand{:href => "#"} Some Store
      .nav-collapse
        %ul.nav
          %li= link_to "Usuarios"
          %li= link_to "Elements"
          %li= link_to "Contact Us"
          %li= link_to "Myclases"
          %li= link_to "Data"
          %li= link_to "to do"
